body {
	background: #FFFFFF;
	color: #000000;
	text-align:center;
	font-family:Kunstler Script;
	font-size:24px;
}

h1 {
	border-style: double;
	border-width: 5px;
	border-color: #d3d3d3;
	padding: 1%;
	width: 40%;
	height:10%;
	margin:auto;
}

p {
	font-size:18px;
}

footer {
	position:fixed;
	bottom:0;
	font-size: 14px;
	padding: 1%;
}

.topnav{
	position:fixed;
	top:0;
	background-color: #DDDDDD;
}

.topnav a {
	float:left;
	display:block;
	color:#000000;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	font-size:20px;
}

.topnav a:hover {
	background-color: #001f3f;
	color: #000000;
}